.navbarBottom {
    background-color: #F5F5F5;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2% 0;
    display: flex;
    justify-content: space-evenly;
}

.navbarIcon {
    font-size: 3rem;
    color: rgba(158, 158, 158, 1);
}

.navbarIcon:hover {

    cursor: pointer;
    color: #212121
}

.active>svg {
    fill: rgba(255, 77, 103, 1)
}