@font-face {
    font-family: UrbanistRegular;
    src: url("../../fonts/Urbanist-Regular.ttf");
}

@font-face {
    font-family: UrbanistBold;
    src: url("../../fonts/Urbanist-Bold.ttf");
}

.profileImg-edit-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.profileImg-div {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
}

.origProfileImg {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    /* ^^border-radius ist auch im Div drin, hat aber oben immer noch eine flache Seite gehabt bis ich die hier auch vergeben habe */
    object-fit: cover;
    object-position: center;
}

.profileImgEdit {
    border: 1px transparent;
    background-color: white;
}

.editSection {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.editSection input,
.editSection select {
    font-family: UrbanistRegular;
    border: none;
    width: 100%;
    font-size: 14px;
    background-color: #FAFAFA;
    padding: 18px 20px;
    border-radius: 12px;
    margin: 24px 0;
}

.editSection select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.editProfileSubmit {
    font-family: UrbanistBold;
    font-size: 14px;
    color: #F5F5F5;
    background-color: rgba(255, 77, 103, 1);
    padding: 1%;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px transparent;
}

/*=======LOADING=======*/

.notLoadedDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingP {
    font-family: UrbanistBold;
    font-size: 3rem;
    color: rgba(33, 33, 33, 1);
}