* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-container {
    margin: 20px 20px 50px 20px;
}

.profileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.imageIconContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imageIconContainer1 {
    display: flex;
    gap: 20px;
}

.mainProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainProfile img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.mainProfile h3 {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 10px 0;
}

.mainProfile p:nth-of-type(1) {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.mainProfile p:nth-of-type(2) {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.mainProfile p:nth-of-type(3) {
    font-size: 1.4rem;
    font-weight: 700;
    color: #246BFD;
}

.postsFollowers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 30px 0;
    text-align: center;
}

.postsFollowers div:nth-of-type(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.144);
    border-right: 1px solid rgba(0, 0, 0, 0.144);

}

.postsFollowersNumber {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.postsFollowersText {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.profileH3 {
    font-size: 2.4rem;
}

.iconImage {
    height: 25px;
    width: 25px;
}

.profile-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-topbar p {
    cursor: pointer;
    color: rgba(255, 77, 103, 1);
    font-size: 1.6rem;
}

.profile-topbar p:hover {
    text-decoration: underline;
}

/* ----- Burger Menü für Advanced Settings --- */
/* .greyScreen input:checked  */
.burgerClicker {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 60px
}

.grabberSkew {
    transform: scale(5, 1);

}

.grabberIcon {
    font-size: 2.3rem;
    color: rgb(146, 145, 145);

}

.greyScreenActive {
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    background-color: rgba(128, 128, 128, 0.535);
    position: fixed;
    z-index: 1;
}

.greyScreenInactive {
    display: none;
}

.burgerWrapper input {
    display: none;
}

/* .burgerWrapper .showBurgerNav {
    opacity: 0;
    top: 50%;
} */

.burgerNav {
    background: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 280px;
    z-index: 2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: none;
}

.burgerWrapper .showBurgerNav {
    background-color: white;
    transition: 0.2s linear 0.2s;
    /* z-index: 1; */
    display: block;
}

.burgerWrapper .showBurgerNav ul li {
    opacity: 1;
    transition: 0.2s linear 0.2s;
}

.advSetIcon {
    margin-right: 10px;
}

.burgerWrapper .showBurgerNav ul li a {
    /* z-index: 1; */
    display: block;
}

.burgerWrapper .showBurgerNav ul li label .barDownBurger {
    /* z-index: 1; */
    display: block;
}

.burgerDown {
    cursor: pointer;
    width: 100%;
    display: flex;
    gap: 10px;
    z-index: 2;
    justify-content: center;
    margin-bottom: 9px;
}

.barDownBurger {
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.burgerNav ul {
    text-align: center;
    position: absolute;
    top: 2%;
    left: 10%;
    right: 20%;
}

.burgerNav ul li {
    opacity: 0;
    list-style: none;
}

.burgerNav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 5px;
    margin: 5px;
    text-align: start;
    font-family: UrbanistLight;
    /* background-color: aquamarine; */
    display: none;
}

.advSetIcon {
    font-size: 1.7rem;
}

/*=======LOADING=======*/

.notLoadedDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingP {
    font-family: UrbanistBold;
    font-size: 3rem;
    color: rgba(33, 33, 33, 1);
}