.miniProfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.miniProfil a {
    text-decoration: none;
    color: rgba(33, 33, 33, 1);
    cursor: pointer;
}

.miniProfilDetail {
    align-items: center;
}

.miniProfil div {
    display: flex;
    gap: 5px;
}

.miniProfil div h1 {
    font-size: 1.6rem;
}

.miniProfil div p {
    font-size: 1.4rem;
}

.miniProfil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    justify-content: center;
}

.miniProfilIcon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
}