@font-face {
    font-family: UrbanistRegular;
    src: url("../../fonts/Urbanist-Regular.ttf");
}

@font-face {
    font-family: UrbanistBold;
    src: url("../../fonts/Urbanist-Bold.ttf");
}

.miniProfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.miniProfilH1 {
    font-size: 3rem;
    font-family: UrbanistBold;
}

.miniProfilP {
    font-size: 2rem;
    font-family: UrbanistRegular;
}

.miniProfil a {
    text-decoration: none;
    color: rgba(33, 33, 33, 1);
    cursor: pointer;
}

.miniProfilDetail {
    align-items: center;
}

.miniProfil div {
    display: flex;
    gap: 5px;
}

.miniProfil div h1 {
    font-size: 1.6rem;
}

.miniProfil div p {
    font-size: 1.4rem;
}

.miniProfil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    justify-content: center;
}

.miniProfilIcon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
}


@media only screen and (min-width:610px) {
    .miniProfil {
        display: flex;
        justify-content: space-between;
        margin: 0px 13%;
    }
}

@media only screen and (min-width:950px) {
    .miniProfil {
        display: flex;
        justify-content: space-between;
        margin: 0px 14%;
    }
}