.underConst {
    margin: 20px;
}

.underConstruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 82vh;
}

.underConstruction h1 {
    margin: 2% 0;
    font-size: 4rem;
}

.underConstruction img {
    aspect-ratio: 1/1;
    width: 90%;
    height: 50vh;
    margin: 2% 0;
}