* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: UrbanistLight;
    src: url("../../fonts/Urbanist-Light.ttf");
}

@font-face {
    font-family: UrbanistRegular;
    src: url("../../fonts/Urbanist-Regular.ttf");
}

@font-face {
    font-family: UrbanistMedium;
    src: url("../../fonts/Urbanist-Medium.ttf");
}


/* .personSearch {} */

.searchInput {
    font-family: UrbanistLight;
    width: 50%;
    border: 2px transparent;
    font-size: 2rem;
    padding: 10px 10px 10px 50px;
    border-radius: 15px;
    background-color: #F5F5F5;
}

.goPersonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
    width: 95%;
    border-bottom: 2px solid rgba(255, 77, 103, 1);
}

.personIcon {
    margin: 1% 0;
    color: rgba(255, 77, 103, 1);
    font-size: 3rem;
}

.resetButton {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

.resetButton:hover {
    cursor: pointer;
}

.icon {
    font-size: 2rem;
}

.formInput {
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    position: absolute;
    left: 26%;
    top: 10px;
}

.searchUserContainer {
    width: 90%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.searchPicContainer {
    width: 20%;
}

.searchImage {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.userInfo {
    width: 100%;
    margin: 0 2%;
}

.searchUser {
    font-family: UrbanistLight;
    font-size: 2rem;
    color: rgba(33, 33, 33, 1);
    margin: 1.5% 2%;
}

.searchOccupation {
    font-family: UrbanistLight;
    font-size: 2rem;
    color: rgba(158, 158, 158, 1);
    margin: 1.5% 2%;
}

.noResults {
    height: 85vh;
}

/* ======= MEDIA QUERIES =======*/

@media only screen and (max-width: 280px) {
    .searchImage {
        object-fit: cover;
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }

    .searchUser {
        font-family: UrbanistLight;
        font-size: 1rem;
        color: rgba(33, 33, 33, 1);
        margin: 1.5% 3%;
    }

    .searchOccupation {
        font-family: UrbanistLight;
        font-size: 1rem;
        color: rgba(158, 158, 158, 1);
        margin: 1.5% 3%;
    }
}

@media only screen and (max-width: 360px) and (min-width:281px) {
    .searchImage {
        object-fit: cover;
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }

    .searchUser {
        font-family: UrbanistLight;
        font-size: 1rem;
        color: rgba(33, 33, 33, 1);
        margin: 1.5% 3%;
    }

    .searchOccupation {
        font-family: UrbanistLight;
        font-size: 1rem;
        color: rgba(158, 158, 158, 1);
        margin: 1.5% 3%;
    }
}

@media only screen and (max-width: 576px) and (min-width:361px) {
    .searchImage {
        object-fit: cover;
        height: 75px;
        width: 75px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 768px) and (min-width:577px) {
    .searchImage {
        object-fit: cover;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 1024px)and (min-width:769px) {
    .searchImage {
        object-fit: cover;
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 1260px)and (min-width:1025px) {
    .searchImage {
        object-fit: cover;
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 1440px)and (min-width:1261px) {
    .searchImage {
        object-fit: cover;
        height: 175px;
        width: 175px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 1920px) and (min-width:1440px) {
    .searchImage {
        object-fit: cover;
        height: 180px;
        width: 180px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 2560px) and (min-width:1440px) {
    .searchImage {
        object-fit: cover;
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    .searchUser {
        font-family: UrbanistRegular;
        font-size: 3rem;
        color: rgba(33, 33, 33, 1);
        margin: 1.5% 0.5%;
    }

    .searchOccupation {
        font-family: UrbanistRegular;
        font-size: 3rem;
        color: rgba(158, 158, 158, 1);
        margin: 1.5% 0.5%;
    }
}

@media only screen and (max-width: 3440px) and (min-width:1440px) {
    .icon {
        font-size: 2.5rem;
    }

    .searchInput {
        font-family: UrbanistLight;
        width: 50%;
        border: 2px transparent;
        font-size: 2.5rem;
        padding: 10px 10px 10px 80px;
        border-radius: 15px;
        background-color: #F5F5F5;
    }

    .personSearch {
        margin-bottom: 100px;
    }

    .searchImage {
        object-fit: cover;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    .searchUser {
        font-family: UrbanistRegular;
        font-size: 2.5rem;
        color: rgba(33, 33, 33, 1);
        margin: 1.5% 0.5%;
    }

    .searchOccupation {
        font-family: UrbanistRegular;
        font-size: 2.5rem;
        color: rgba(158, 158, 158, 1);
        margin: 1.5% 0.5%;
    }
}