* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .personSearch {} */

input {
    width: 50%;
    border: 2px solid;
    font-size: 2rem;
    padding: 5px 10px 5px 50px;
}

p {
    font-size: 2rem;
}

.resetButton {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

.resetButton:hover {
    cursor: pointer;
}

.icon {
    font-size: 2rem;
}

.formInput {
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    position: absolute;
    left: 26%;
    top: 10px;
}

.searchUserContainer {
    width: 95%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.searchPicContainer {
    width: 20%;
}

.searchImage {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.userInfo {
    width: 100%;
}

.searchUser {
    color: rgba(33, 33, 33, 1);
    margin: 1.5% 0.5%;
}

.searchOccupation {
    color: rgba(158, 158, 158, 1);
    margin: 1.5% 0.5%;
}

.followButton {
    padding: 1%;
    border: 2px solid rgba(255, 77, 103, 1);
    border-radius: 15px;
    color: rgba(255, 77, 103, 1);
    margin-right: 0.5%;
    font-size: 2rem;
}

.noResults {
    height: 85vh;
}