* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: UrbanistLight;
    src: url("../../fonts/Urbanist-Light.ttf");
}

@font-face {
    font-family: UrbanistMedium;
    src: url("../../fonts/Urbanist-Medium.ttf");
}


/* .personSearch {} */

.searchInput {
    font-family: UrbanistLight;
    width: 50%;
    border: 2px solid;
    font-size: 2rem;
    padding: 5px 10px 5px 50px;
}

.resetButton {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

.resetButton:hover {
    cursor: pointer;
}

.icon {
    font-size: 2rem;
}

.formInput {
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    position: absolute;
    left: 26%;
    top: 10px;
}

.searchUserContainer {
    width: 95%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.searchPicContainer {
    width: 20%;
}

.searchImage {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.userInfo {
    width: 100%;
}

.searchUser {
    font-family: UrbanistLight;
    font-size: 2rem;
    color: rgba(33, 33, 33, 1);
    margin: 1.5% 2%;
}

.searchOccupation {
    font-family: UrbanistLight;
    font-size: 2rem;
    color: rgba(158, 158, 158, 1);
    margin: 1.5% 2%;
}

.followButton {
    font-family: UrbanistLight;
    padding: 1%;
    border: 2px solid rgba(255, 77, 103, 1);
    border-radius: 15px;
    color: rgba(255, 77, 103, 1);
    margin-right: 0.5%;
    font-size: 2rem;
}

.noResults {
    height: 85vh;
}

/* ======= MEDIA QUERIES =======*/

@media only screen and (max-width: 280px) {
    .searchImage {
        object-fit: cover;
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }

    .searchUser {
        font-family: UrbanistLight;
        font-size: 1rem;
        color: rgba(33, 33, 33, 1);
        margin: 1.5% 3%;
    }

    .searchOccupation {
        font-family: UrbanistLight;
        font-size: 1rem;
        color: rgba(158, 158, 158, 1);
        margin: 1.5% 3%;
    }
}

@media only screen and (max-width: 360px) and (min-width:281px) {
    .searchImage {
        object-fit: cover;
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }

    .searchUser {
        font-family: UrbanistLight;
        font-size: 1rem;
        color: rgba(33, 33, 33, 1);
        margin: 1.5% 3%;
    }

    .searchOccupation {
        font-family: UrbanistLight;
        font-size: 1rem;
        color: rgba(158, 158, 158, 1);
        margin: 1.5% 3%;
    }
}

@media only screen and (max-width: 576px) and (min-width:361px) {
    .searchImage {
        object-fit: cover;
        height: 75px;
        width: 75px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 768px) and (min-width:577px) {
    .searchImage {
        object-fit: cover;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 1200px)and (min-width:769px) {
    .searchImage {
        object-fit: cover;
        height: 175px;
        width: 175px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 1400px) and (min-width:1201px) {
    .searchImage {
        object-fit: cover;
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
}