@font-face {
    font-family: UrbanistLight;
    src: url("../../fonts/Urbanist-Light.ttf");
}

@font-face {
    font-family: UrbanistMedium;
    src: url("../../fonts/Urbanist-Medium.ttf");
}

.newPostMainStyle {
    margin: 25px;
}

.divider {
    width: 100%;
    height: 6px;
}

.newPostHeader {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px 0;
    gap: 10px;
}

.newPostBack {
    font-size: 2.3rem;
    height: 100%
}

.newPostHeader h1 {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.articleUploadButton {
    background-color: rgba(158, 158, 158, 1);
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.uploadButton {
    background-color: rgba(255, 77, 103, 1);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 60%;
}

.uploadButtonIcon {
    font-size: 1.8rem;
    height: 100%;
}

#fotoUpload {
    display: none
}

.galleryHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    margin: 20px 0 15px 0;
}

.galleryDrop h1 {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.galleryDropIcon {
    font-size: 1.6rem;
    cursor: pointer;
}

/* 4Würfel + Kamera Icons: */
.galleryIconsRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

/*Je ein Wrapper um das Kamera- & 4-Würfel-Icon im Gallery Header:*/
.galleryIcons {
    justify-self: center;
    margin: auto;
    font-size: 2.3rem;
    height: 100%
}

.galleryComponent {
    margin-left: auto;
    margin-right: auto;
}



/* ----Hier startet das Styling fpr die Seitenansicht mit Caption-Option----------------------------- */

/* Übercontainer für die Captioneingabe mit profilbild, Eingabefeld und Uploadbild */
.captionInputBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Rundes Profilbild an der linken Seite: */
.profilePicRound {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.textarea {
    background-color: rgb(232, 232, 232);
    border: 2px solid transparent;
    outline: none;
    border-radius: 10px;
    overflow: auto;
    font-size: 1.5rem;
    padding: 0.5rem;
    line-height: 1.3;
    transition: all 0.2s;
    cursor: pointer;
    overflow: hidden;
    min-height: 80px;
    font-family: UrbanistLight;
}

/* Eher für die Desktop-Version relevant */
/* .textarea:hover {
    background-color: rgb(193, 191, 191);
} */

.textarea:focus {
    cursor: text;
    /* background-color: rgb(193, 191, 191); */
    border-color: rgb(193, 191, 191);
}

/* Das ist das Bild, das man hochlädt: */
.imgSelected {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    object-fit: cover;
}

.wrapperLocation {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 25px 0 20px 0;
    border-bottom: 2px solid rgb(193, 191, 191);
    border-top: 2px solid rgb(193, 191, 191);
    padding: 20px 0 20px 0;
}

.wrapperLocation h2 {
    font-size: 1.6rem;
}

.locationButton {
    background-color: transparent;
    border-style: none;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.locationIcon {
    font-size: 2.3rem;
}

.wrapperSettings {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px 0;
    gap: 10px;
    margin: 20px 0 20px 0;
}

.wrapperSettings h2 {
    font-size: 1.6rem;
}


/* -----Social Media Toggle Dummys----- */
.wrapperSmToggles {
    margin: 6px 0 4px 0;
    border-bottom: 2px solid rgb(193, 191, 191);
    ;
}

.wrapperSmToggles h2 {
    font-size: 1.6rem;
    height: 40px;

}

.sMToggle {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.sMToggle h2 {
    font-size: 1.6rem;
}

/* --Styling für die (bisher) funktionslosen Toggle */

.switch {
    position: relative;
    display: inline-block;
    width: 49.5px;
    height: 25.5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgba(255, 77, 103, 1);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba(255, 77, 103, 1);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ----Ende Styling Toggle ---- */
.newPostNavButtonWrapper {
    display: flex;
    justify-content: space-between;
}

.backAndPublishButton {
    background-color: rgba(255, 77, 103, 1);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 30%;
}

/* ----- Burger Menü für Advanced Settings --- */

.greyScreenActive {
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    background-color: rgba(128, 128, 128, 0.535);
    position: fixed;
    z-index: 1;
}

.greyScreenInactive {
    display: none;
}

.burgerClicker {
    cursor: pointer;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.burgerWrapper input {
    display: none;
}

.burgerWrapper input:checked {
    opacity: 0;
    top: 50%;
}

.burgerNav {
    background: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 280px;
    z-index: 2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: none;
}

.burgerWrapper input:checked~nav {
    background-color: white;
    transition: 0.2s linear 0.2s;
    /* z-index: 1; */
    display: block;
}

.burgerWrapper input:checked~nav ul li {
    opacity: 1;
    transition: 0.2s linear 0.2s;
}

.advancedSettings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.advSetIcon {
    margin-right: 10px;
}

.burgerWrapper input:checked~nav ul li a {
    display: block;
}

.burgerWrapper input:checked~nav ul li label .barDownBurger {
    display: block;
}

.burgerDown {
    cursor: pointer;
    width: 100%;
    display: flex;
    gap: 10px;
    z-index: 2;
    justify-content: center;
    margin-bottom: 9px;
}

.barDownBurger {
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.burgerNav ul {
    text-align: center;
    position: absolute;
    top: 2%;
    left: 10%;
    right: 20%;
}

.burgerNav ul li {
    opacity: 0;
    list-style: none;
}

.burgerNav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 5px;
    margin: 5px;
    text-align: start;
    font-family: UrbanistLight;
    /* background-color: aquamarine; */
    display: none;
}

.advSetIcon {
    font-size: 1.7rem;
}