.commentsMainStyle {
    margin: 0 20px 50px 20px;
}

.commentsNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.commentsNav div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.commentsNav div h1 {
    font-size: 2.4rem;
}

.backBtnH1 {
    align-items: baseline;
}

.LCB-Border {
    border-bottom: 1px solid #0000002c;
    padding-bottom: 10px;
}

.LCB-edit {
    margin-left: -12px;
}

.arrowTriangle {
    width: 25px;
    margin-top: 2.5px;
}

.postedContent {
    font-size: 1.4rem;
}

/*=======LOADING=======*/

.notLoadedDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingP {
    font-family: UrbanistBold;
    font-size: 3rem;
    color: rgba(33, 33, 33, 1);
}