.LCB {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px;
}

.LCB p {
    font-size: 1.4rem;
}

.homeHeartIconBottom {
    width: 24px;
    color: #000;
    cursor: pointer;
}

.homeCommentButtonBottom {
    font-size: 24px;
    color: #000;
    cursor: pointer;
    margin-left: 20px;
}

@media only screen and (min-width:610px) {
    .LCB {
        display: flex;
        justify-content: flex-start;
        margin: 20px 15%;
    }
}