.galleryGrid {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    /* width: 340px;
    display: flex;
    flex-wrap: wrap; */
    margin: 10px 0;
}

.div1 {
    /* grid-area: 1 / 1 / 2 / 2; */
    display: flex;
    align-content: center;
    cursor: pointer;
    object-fit: cover;
    /* width: 100px; */
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    align-content: center;
    cursor: pointer;
}

.newpostImg {
    /* height: 100%;
    width: 100%; */
    border-radius: 6%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
}