.galleryGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 10px 0;
    padding-bottom: 75px;
}

.div1 {
    display: flex;
    align-content: center;
    cursor: pointer;
    object-fit: cover;
}

.newpostImg {
    border-radius: 6%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
}