@font-face {
    font-family: UrbanistBold;
    src: url("../../fonts/Urbanist-Bold.ttf");
}

.homeMainStyle {
    margin: 0 20px 50px 20px;
}

.homeNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.homeNavbar div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.homeNavbar div h1 {
    font-size: 2.4rem;
}

.homeIcon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

/*=======LOADING=======*/

.notLoadedDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingP {
    font-family: UrbanistBold;
    font-size: 3rem;
    color: rgba(33, 33, 33, 1);
}

/*=======MEDIA QUERIES=======*/
@media only screen and (max-width: 1079px) and (min-width:510px) {
    .homeMainStyle {
        margin: 0 20px 80px 20px;
    }
}

@media only screen and (max-width: 3440px) and (min-width:1080px) {
    .homeMainStyle {
        margin: 0 20px 130px 20px;
    }
}