.ButtonStyle {
    color: red;
}

.loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}