@font-face {
    font-family: UrbanistRegular;
    src: url("../../fonts/Urbanist-Regular.ttf");
}

.LRT {
    margin: 20px 14%;
    display: flex;
    gap: 20px;
    /* margin: 15px 0; */
    align-items: center;
}

.LRT p {
    font-family: UrbanistRegular;
    font-size: 1.2rem;
}

.LRT-heart {
    width: 24px;
    height: 24px;
    color: #000;
    cursor: pointer;
}